<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/status_form' %>
      </section>
    </aside>
  <div class="span8">
      <h3>Tweets</h3>
      <div id = "tweet-feed" data-maxpage = "<%=@maxpage%>" data-currentcount = 5>
        <%= render 'shared/feed' %>
      </div>
  </div>
  <!-- Modal -->
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Show Image</h3>
    </div>
    <div class="modal-body">
      <img class="img-show">
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>

  <div id = "page-cache">
  </div>
  </div>
<% else %>
  <div class="center hero-unit">
  <h1>Welcome to Twitter</h1>
    
  <h2>
    Use Twitter, Be Social.
  </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

<% end %>