<li>
	
  <span class="content">
  	<% if status.reply_to %>
  	<%= link_to "@#{status.reply_to.user.name}","/users/#{status.reply_to.user.id}"%>
  	<%= " #{status.content}" %>
  	<% else %>
  		<%= "#{status.content}" %>
  	<% end %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(status.created_at) %> ago.
  </span>
  <% if current_user?(status.user) %>
    <%= link_to "delete", status, method: :delete,
                                     data: { confirm: "Are you sure?" },
                                     title: status.content %>
  <% end %>
  <div class="self-image-container" id="self-image-<%= status.id %>">
    <%=image_tag status.image.to_s,class:"status-image" if status.image%>
  </div>
</li>