<%= form_for(@status) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.hidden_field :in_reply_to, value: reply_id %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Tweet your reply..." %>
  </div>
  <%= f.submit "Tweet", class: "btn btn-large btn-primary", style:"float:right;" %>
<% end %>